.card {
  &__size {
    &--small {
      width: 332px;
    }

    &--medium {
      width: 448px;
    }

    &--large {
      width: 564px;
    }
  }

  &__image {
    aspect-ratio: 16/9;
    flex: 1;
  }

  &__content {
    flex: 2;
  }
}