.navigation {

  border-bottom: 0.5px solid #0082FF;

  &__logo {
    font-size: 65px;
  }

  &__slogan {
    max-width: 75px;
  }
  
  &__submenu {

    &-container {
      border: 0.5px solid #0082FF;
      padding: 0 8px 0 8px;
      border-radius: 8px;
      width: 216px;
    }

    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding-top: 8px;

    font-size: 12px;


    &-item {
      padding: 6px 0 6px 0;
      border-bottom: 0.5px solid #0082FF;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        text-decoration: underline;
      }

      &:active {
        text-decoration: underline;
        color: #FF9E00;
      }

      &--active {
        text-decoration: underline;
        color: #FF9E00;
      }
    }
  }

  &__nav-item:hover &__submenu {
    display: flex;
  }

  &__nav-item {
    position: relative;
    line-height: 19px;
    font-size: 14px;
    padding: 7px;

    border: 0.5px solid #0082FF;
    border-radius: 8px;

    width: 216px;

    &--moodle {
      width: 100px;
    }

    &:hover {
      border-color: #FF9E00; 
    }

    &--active {
      border-color: #FF9E00;
      color: #FF9E00;

      > * {
        color: #0082FF;
      }
    }

    &:active {
      border-color: #FF9E00;
      color: #FF9E00;

      > * {
        color: #0082FF;
      }
    }
  }
}