.text-content {
  width: 100%;
  max-width: 1408px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;

  &__title {
    font-size: 55px;
    display: inline-block;
    line-height: 1;
    width: 100%;

    @media screen and (min-width: 832px) {
      font-size: 65px;
    }

    &--border {
      border-bottom: 1px solid #0082FF;
    }
  }

  &__content {
    padding-top: 14px;
  }
}