.registrations-results {
  overflow-x: auto;
  font-size: 17px;

  &__title {
    font-size: 32.5px;
    padding-bottom: 10px;
  }

  &__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    // Hard fix for the table to be responsive
    tbody:before {
      content:"@";
      display:block;
      line-height: 8px;
      text-indent:-99999px;
    }
  }

  &__header {
    color: #313233;

    td {
      padding: 10px;
      border-top: 1px solid #0082FF;
      border-bottom: 1px solid #0082FF;
    }

    td:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-right: none;
      border-left: 1px solid #0082FF;
    }

    td:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-left: none;
      border-right: 1px solid #0082FF;
    }
  }

  &__body {
    .registrations-results__row-td {
      color: #313233;
    }
    
    tr {
      .registrations-results__button {
        padding: 0;
        padding-left: 16px;

        * {
          width: 100%;
          font-size: 17px;
          padding: 10px;
        }
      }
      
      .registrations-results__row-td {
        padding: 10px;
        position: relative;
      }

      .registrations-results__row-td:first-child {
        border-left: 1px solid #0082FF;
      }

      .registrations-results__row-td:first-child::after {
        content: '';
        position: absolute;
        left: 10px;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: #0082FF;
      }

      .registrations-results__row-td:last-of-type {
        border-right: 1px solid #0082FF;
      }

      .registrations-results__row-td:last-of-type::after {
        content: '';
        position: absolute;
        left: 0;
        right: 10px;
        bottom: 0;
        height: 1px;
        background-color: #0082FF;
      }
      
      .registrations-results__row-td::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: #0082FF;
      }
    }
    
    tr:first-child {
      .registrations-results__row-td {
        border-top: 1px solid #0082FF;
      }

      .registrations-results__row-td:first-child {
        border-left: 1px solid #0082FF;
        border-top-left-radius: 8px;
      }

      .registrations-results__row-td:last-of-type {
        border-right: 1px solid #0082FF;
        border-top-right-radius: 8px;
      }
    }

    tr:last-child {
      .registrations-results__row-td {
        border-bottom: 1px solid #0082FF;
      }

      .registrations-results__row-td::after,
      .registrations-results__row-td:first-child::after,
      .registrations-results__row-td:last-of-type::after {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 0;
        height: 1px;
        background-color: transparent;
      }

      .registrations-results__row-td:first-child {
        border-left: 1px solid #0082FF;
        border-bottom-left-radius: 8px;
      }

      .registrations-results__row-td:last-of-type {
        border-right: 1px solid #0082FF;
        border-bottom-right-radius: 8px;
      }
    }
  }
}

.forced-border-right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 1px solid #0082FF;
}